/* Table of Content*/

/*

1.Section Setting
2.Section Carousel
3.Section Blog
4.Section Footer
5.Section Navbar
6.Section Page-title
7.Section On to Top
8.Password

/* Section Setting*/

html , body {
    height: 100%;
    font-family: 'Prompt', sans-serif;
}

.bg-alpha{
    background:  rgba(0,0,0,0.5);
}

.border-short-bottom{
    position: relative;
    padding: 20px 0;
    margin-bottom: 25px;
}

.border-short-bottom::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background: #595959;
}


/*Section Carousel*/
.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active{
    height: 100%
}

.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; 
}

.carousel-caption{
    top: 40%;
}

/* .backscreen{
    background:  rgba(0,0,0,0.5);
    height: 100%;
} */


/* Section Blog */

.warpper-card-img {
    position: relative;
    overflow: hidden;
}

.warpper-card-img::after{
    content: '';
    padding-top: 56.25%;
    display: block;
    height: 0;
}

.warpper-card-img img {
    position: absolute;
    top: 0;
    transition: 1s;
}

.warpper-card-img img:hover {
    transform: scale(1.2)
}

.btn-group-custom button{
    margin-bottom: 0.5rem;
    width: 150px;

}

.btn-group-custom a:hover{
    text-decoration:  none;

}


.blog-content{
    padding: 50px 100px;
    box-shadow: 0px 0px 10px #a5a5a5;
}

.owl-carousel .card-body{
    height: 150px;
    overflow: hidden;
}

@media(max-width:991px){
    .blog-content{
        padding: 40px 50px;
    }
}


@media(max-width:768px){
    .blog-content{
        padding: 20px 30px;
    }
}

/* Section Footer */
    .semi-footer{
        background: #2b2b2b;
        color: #dcdcdc;
    }

    .semi-footer a{
        
        color: #dcdcdc;
    }

    .semi-footer li.active > a{
        
        color : #fff;
    }

    .semi-footer h4{
    
        color: #F7A4A4;
        border-bottom: 1px solid;
        padding: 10px o;
    }

    .footer{
        background: #000;
        color: #fff;
        font-size: 0.7rem;
        height: 90px;
        line-height: 90px;
        text-align: center;
    }

/* Section Navbar*/
#navbar{
    padding: 25px;
    transition: 0.5s;

}

@media(max-width: 480px){
.navbar-brand{
    font-size: 0.8rem;
    line-height: 2rem;
}
}

/* Section Page-title */

.page-image{
    padding: 200px 0px 120px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.5);
}

/* Section On to Top*/
.to-top{  
    /* ไม่สนใจจะเขียนอยู่ในไหนจะลอยทั่วหน้า  สันโดด  */
    position: fixed;
    /* ------------------------ */
    bottom: 2%;
    right: 2%;
    width: 40px;
    height: 40px;
    background: #f76767;
    color: #fff;
    /* ให้อยู่สูงกว่าทุกอย่าง */
    z-index: 9999; 
     /* ------------------------ */
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

.to-top:hover{
    color: #fff;
    background: #d42a2a;
}

/* Password */
